h1 = @question.title
p = @question.body
= link_to "edit question", edit_question_path(@question)
= render 'questions/answers', question: @question
h3 Your answer
= simple_form_for [@question ,@answer], defaults: { input_html: { class: 'form-control' } } do |f|
  = f.input :body
  = f.button :submit, 'Create'