@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-tagsinput";
@import "jasny-bootstrap";
@import "pagedown_bootstrap";
@import "*";

a, a:hover, .btn-link:hover {
  text-decoration: none;
}
.avatar{
  margin-top: 9px;
}
.navbar {
  border-radius: 0;
}
.ml-5 {
  margin-left: 5px;
}
.mt-20{
  margin-top: 20px;
}
.pv-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}
.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.votes-count {
  padding-top: 5px;
  padding-bottom: 5px;
}
.votes-stat {
  padding-top: 10px;
  padding-bottom: 5px;
}
.votes {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.answer-stat {
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-accepted {
  color: #e1e818;
  font-weight: 600;
}
.tag {
  margin-bottom: 3px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 30px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.fileinput > .input-group-addon > .field_with_errors {
  display: none;
}

.fileinput > .input-group-addon > label {
  display: none;
}